<div class="menubar">
  <div class="logo">

  </div>
  <div class="menu">
    <%= link_to "Главная", root_path %>
    <%= link_to "Выставки", articles_path %>
    <%= link_to "События", articles_path %>
    <%= link_to "О галерее", root_path %>
    <%= link_to "Open Call", root_path %>
  </div>
</div>
